@charset "utf-8";
html, body, form { margin:0; padding:0; width:100%; height:100%; }
html {
    overflow-y: visible;
}
body {
    background: #FFF;
    color: #333;
    font-weight: normal;
    width: 100%;
    min-width:970px;
    max-width: 100%;
}
body:before, body:after {
    background: #FFF;
    content: normal;
}
.pos-logo-sm {
    display: none;
}
.bold {
    font-weight: bold;
}
#wrapper {
    position: relative;
}
.ui-keyboard {
	padding: .3em;
	z-index: 16001;
	background: rgba(255, 255, 255, 0.8);
	right: 0 !important;
	left: 0 !important;
	top: auto !important;
    bottom: 0px !important;
    position: fixed !important;
    width: 100%;
    min-width: 750px;
	height:230px;
		-webkit-box-shadow: -5px 0px 10px rgba(50, 50, 50, 0.50);
		-moz-box-shadow:    -5px 0px 10px rgba(50, 50, 50, 0.50);
		box-shadow:         -5px 0px 10px rgba(50, 50, 50, 0.50);
}
.ui-keyboard-has-focus { z-index: 16001; }
.ui-keyboard div {
	font-size: 1.1em;
}
.ui-keyboard-button {
	height: 3em;
	width: 3em;
	margin: .1em;
	cursor: pointer;
	overflow: hidden;
}
.ui-keyboard-button span {
	padding: 0;
	margin: 0;
	white-space:nowrap;
}
.ui-keyboard-button-endrow {
	clear: left;
}
.ui-keyboard-widekey {
	width: 4em;
}


.ui-keyboard-preview {
	text-align: left;
	margin: 0 0 3px 0;
	display: inline;
	width: 99%;
}
.ui-keyboard-keyset {
	text-align: center;
}
/*.ui-keyboard-input {
	text-align: left;
}*/
.ui-keyboard-input-placeholder {
	color: #888;
}
.ui-keyboard-nokeyboard {
	color: #888;
	border-color: #888;
}
.ui-keyboard-button.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.ui-keyboard-button.ui-keyboard-combo.ui-state-default {
	border-color: #357ebd;
}
.ui-keyboard .ui-state-active {
    border-color: #357ebd;
    color: #357ebd;
}
.ui-keyboard-space {
	width: 18em;
	text-indent: -999em;
}
.ui-keyboard .ui-keyboard-bksp {
	width: 6.2em;
        background-color: #f0ad4e;
	border-color: #eea236;
        color: #FFF;
}

.ui-keyboard .ui-keyboard-bksp:hover {
	background-color: #ec971f;
	border-color: #d58512;
}

.ui-keyboard .ui-keyboard-enter {
    background-color: #f0ad4e;
	border-color: #eea236;
        color: #FFF;
        width: 9.4em;
}
.ui-keyboard .ui-keyboard-enter:hover {
    background-color: #ec971f;
	border-color: #d58512;
}
.ui-keyboard .ui-keyboard-shift {
    background-color: #428bca;
	border-color: #357ebd;
        color: #FFF;
        width: 4.55em;
}
.ui-keyboard .ui-keyboard-shift:hover, .ui-keyboard .ui-keyboard-shift.ui-state-active {
    background-color: #3071a9;
	border-color: #e285e8e;
}
.ui-keyboard .ui-keyboard-accept {
	width: 11.1em;
	background-color: #5cb85c;
	border-color: #4cae4c;
	padding-left: 2px;
	padding-right: 2px;
        color: #FFF;
}
.ui-keyboard .ui-keyboard-accept:hover {
	background-color: #449d44;
	border-color: #398439;
}
.ui-keyboard .ui-keyboard-cancel {
	width: 4.5em;
	background-color: #d9534f;
	border-color: #d43f3a;
    color: #FFF;
	padding-left: 2px;
	padding-right: 2px;
}
.ui-keyboard .ui-keyboard-cancel:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}
#ui .tooltip-inner { max-width: 500px; }
#content { background: none; margin-left: 0; padding-top: 15px; }
.pos-grid-nav { z-index: 50; }
.form-control.input-sm {
    padding: 3px;
    height: auto;
    line-height: 16px;
    font-size: 14px;
}
.pos { margin: 0 auto; }
#pos {
    position:relative;
}
#pos .form-group {
    margin-bottom: 5px;
}
#pos #cpdiv {
    display: inline-block;
}
#pos #leftdiv {
    min-width: 500px;
    width: 47%;
    max-width: 52%;
    padding:10px 10px 5px 10px;
    background: #F5f5F5;
    float:right;
    margin: 0;
}
#pos #cp #cpinner {
    min-width: 280px;
    max-width: 52%;
    float: left;
    /*margin-left: 2%;*/
    padding:10px 10px 5px 10px;
    background: #F5f5F5;
}
#pos #catContainer { display:block; width:auto;  padding: 5px 10px 10px 15px; background: #757575; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.9) inset; border-radius: 5px; text-align:center;}
#pos #proContainer { display:block; padding: 5px;}

#pos #printhead, #pos #printfooter {
    display: none;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#pos #left-middle { position: relative; }
#pos #product-list { position: absolute; overflow: hidden; width: 100%; height: 410px; border-bottom: 1px solid #DDD; }
.btn-tran {
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    cursor: pointer;
    height: 115px;
    margin: 2px;
    padding: 2px;
    width: 10.5%;
}
.btn-tran:hover {
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
}
.btn-prni {
    border: 1px solid #eee;
    cursor: pointer;
    height: 115px;
    margin: 0 0 3px 2px;
    padding: 2px;
    width: 10.5%;
    min-width: 100px;
    overflow: hidden;
    display: inline-block;
    font-size: 13px;
}
/*.btn-prni:hover {
    background: #eee;
    border: 1px solid #e5e5e5;
}*/
.btn-prni span {
    display: table-cell;
    height: 45px;
    line-height: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    width: 10.5%;
    min-width: 94px;
    overflow: hidden;
}
/*.btn-prni:hover span {
    background: #eee;
}*/
.btn-prni img {
    max-height: 60px !important;
}
.btn-prni.active { background: #eee; border: 1px solid #e5e5e5; cursor: default;  }
#pos #totalTable td { padding: 2px; }
.alert { position: absolute; top:50px; right:10px; width:350px; z-index: 55555; -webkit-box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); -moz-box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); box-shadow: 0px 5px 10px 0px rgba(102,102,102,1); display: block; }
.alert, .alert p { margin-bottom:0; font-size: 1em; }
#pos .clearfix { float: none; clear: both; }
.bootbox.modal { width: 300px; margin-left: -150px; left: 50%; }
.bootbox .modal-footer { background: none; border:0; text-align:center; }
.bootbox .modal-footer { padding-top: 0; }
/*.bootbox.modal.fade.in { top: 30%; }*/
.btn-cat-con { position: fixed; top: 30%; right: -236px; z-index: 6; width: 500px; height: 40px; }
#ajaxCall {
    display: none;
    color: #000;
    background: #FFF;
    border-radius: 25px;
    top: 2%;
    right: 2%;
    position: fixed;
    width: 51px;
    height: 50px;
    z-index: 55555;
    text-align: center;
}
#ajaxCall i {
    font-size: 50px;
}
#category-slider, #subcategory-slider, #brands-slider {
    display: none;
    z-index: 1060;
    height:610px;
    position: absolute;
    top: 60px;
    right:0;
    width:540px;
    border:1px solid #d8d8d8;
    background: #FFF;
    padding:10px 10px;
}
#category-list, #subcategory-list, #brands-list { max-height: 585px; overflow: hidden; position: absolute; }
.font16 { font-size: 16px; font-weight: bold; }
.bg-nums { background: #FFFF99; padding: 5px 10px; color: #000; margin-left: 15px; }
#order_tbl, #bill_tbl { display: none; }
.quick-cash { min-width: 100px; }
.quick-cash .badge { position: absolute; top: 2px; right: 2px; font-size: 0.6em; padding: 1px 4px; border-radius: 0; }
@media (max-width: 1280px) {
    #pos #cp #cpinner {
        max-width: 60%;
    }
    #pos .btn-tran, #pos .btn-prni, #pos .btn-prni span {
        max-width: 16%;
    }
}
@media (max-width: 1152px) {
    #pos #cp #cpinner {
        max-width: 55%;
    }
    #pos .btn-tran, #pos .btn-prni, #pos .btn-prni span {
        max-width: 19%;
    }
    a.navbar-brand {
        width: auto;
    }
    .pos-logo-lg {
        display: none;
    }
    .pos-logo-sm {
        display: inline-block;
        width: 50px;
        float: left;
    }
}

@media only screen and (max-width: 1024px) {
    body { width: 1024px !important; padding: 0; margin: 0; }
    #pos #cp #cpinner { max-width: 50%; }
    #pos .btn-tran, #pos .btn-prni, #pos .btn-prni span { max-width: 23%; }
    .modal-dialog { width: 600px; margin: 30px auto; }
    .modal-sm { width: 300px; }
    .modal-dialog .col-sm-9 { float: left; width: 75%; }
    .modal-dialog .col-sm-3 { float: left; width: 25%; }
    .btn-group .btn { width: 100%; }
    .container { width: 1000px !important; }
    .header-nav { display: inline-block; min-width: 600px; float: right; }
    a.navbar-brand { padding: 9px 0 0px 10px !important; height: auto; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
    .container .navbar-header, .container .navbar-collapse { margin-right: 0; margin-left: 0; }
    .navbar-header {float: left;}
    .navbar-collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
    .navbar-toggle { display: none;}
    .navbar-collapse { border-top: 0;}
    .navbar-nav { float: left; margin: 0;}
    .navbar-nav > li { float: left;}
    .navbar-nav > li > a { padding: 15px;}
    .navbar-nav.navbar-right { float: right;}
    .navbar .navbar-nav .open .dropdown-menu { position: absolute; float: left; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, .15); border-width: 0 1px 1px; border-radius: 0 0 4px 4px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #333;}
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,.navbar .navbar-nav .open .dropdown-menu > li > a:focus,.navbar .navbar-nav .open .dropdown-menu > .active > a,.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus { color: #fff !important; background-color: #428bca !important;}
    .navbar .navbar-nav .open .dropdown-menu > .disabled > a,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {  color: #999 !important; background-color: transparent !important;}
    .fa-bx { font-size: 22px; }
    .lb { display: block; height: 0; }
}
